
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 50;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

}
