.bodydiv {
  margin-top: 50px;
}

.section-tout {
	padding: 2em 0 3em;
	border-bottom: 1px solid rgba(0,0,0,.05);
	background-color: black;
	color: white;
	text-align: center;
}

.logo-jumbo {
	width: 100%;
	text-align: center;
	margin: 30;
	height: 500px;
}

.jumbo-img {
	margin: 5%;
}

.center-el {
	text-align: center;
	margin: 30;
}

.navbar {
	background-color: black;
}