@(message: String)

@main("Printera") {

	
   	<div class="logo-jumbo">
      		<img class="jumbo-img"  src="@routes.Assets.at("images/logo.bmp")">
      		<h4>Try the best solution for rapid printing.</h4>
      		<p class="bs-component">
      			<a class="btn btn-primary btn-lg" href="/login" role="button">Get Started</a>
      		</p>
   	</div>
   	
   	<div class="section-tout">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <h3> Easy to Install</h3>
            <p>Download client app for share your printer</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3>Great opportunities</h3>
            <p>Print your files anywhere <a target="_blank" href="https://github.com/alex-kr/SocialPrinter">GitHub</a>.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3>Flexible printing</h3>
            <p>Choose time and place you want.</p>
          </div>
        </div>

      </div>
    </div>
	</div>


}
