@(message: String)

@main("Printera") {

	
   	<div class="logo-jumbo">
      		<img  src="@routes.Assets.at("images/logo.bmp")">
      		<h4>Try the best solution for rapid printing.</h4>
      		<p class="bs-component">
      			<a class="btn btn-primary btn-lg" href="/login" role="button">Get Started</a>
      		</p>
   	</div>
   	
   	<div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-file-o"></i> Easy to Install</h3>
            <p>Download client app for share your printer</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-github"></i> Great opportunities</h3>
            <p>Print your files anywhere <a target="_blank" href="https://github.com/thomaspark/bootswatch">GitHub</a>.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-wrench"></i> Flexible printing</h3>
            <p>Choose time and place you want.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-cogs"></i> Manage setting</h3>
             <p>Choose printer an settings you want.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-cloud"></i> Be social</h3>
            <p>Find us on facebook</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-bullhorn"></i> Stay Updated</h3>
            <p>Be notified about updates by subscribing via email</p>
          </div>
        </div>

      </div>
    </div>
	</div>


}
