@(p: List[models.Printer])


@main("Printers") {
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/profile.css")">
       
       



        <div id="wrapper" class="active">
      
      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#"> asdasd </a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar"> 
          <li><a href="@routes.Application.profile(1L)">Info</a></li>   
          <li><a>Account settings</a></li> 
          <li><a href="@routes.Application.printers()">Printers</a></li>
          <li><a>Printer Map</a></li>
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
        	
        <br>
        <h3>Printers</h3>
        @for(p0 <- p) {
            Printer name:
            @if(p0.printerSpecification != null) {
                <a href="@routes.Application.specifications(p0.id, p0.printerSpecification.id)">@p0.name</a>
            } else {
                @p0.name
            }
            User name: @p0.user.name  <br>
        }
  
         
        </div>
      </div>
      
    </div>

       

    
}
