@(user: User)
@main("Profile") {
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/profile.css")">
       
       



        <div id="wrapper" class="active">
      
      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#"> @user.name </a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">     
          <li><a>Balance</a></li>
          <li><a>Rating</a></li>
          <li><a>Email</a></li>
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <div class="row">

            <ul>
                <li> <b>Balance:</b> @user.balance  </li>
                <li> <b>Rating:</b> @user.rating  </li>
                <li> <b>Email:</b> @user.email  </li>
            </ul>
            </div>

        </div>
        </div>
      </div>
      
    </div>

       

     

        <a href="@routes.Application.addMoney(user.id)">Add money</a> <br>

        @for(p <- user.printers) {
            PrinterId:
            @if(p.printerSpecification != null) {
                <a href="@routes.Application.specifications(p.id, p.printerSpecification.id)">@p.id</a>
            } else {
                @p.id
            }
            , @p.name <br>
        }

        <a href="@routes.Application.showUserPrinters">Show available printers</a>

    
}
